.App {
  text-align: center;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.marge-top{
  margin-top: 1rem;
}

.navbar-dropdown{
  background-color: #363636!important;
}

.label{
  color: #fff!important;
}
