.App {
  text-align: center;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.marge-top{
  margin-top: 1rem;
}

.navbar-dropdown{
  background-color: #363636!important;
}

.label{
  color: #fff!important;
}

.is_admin label:hover{
  color: rgb(32, 156, 238);
}

.manage_user {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.manage_user td, .manage_user th {
  border: 1px solid #ddd;
  padding: 8px;
}

.manage_user tr:nth-child(even){background-color: #4A4A4A;}

.manage_user tr:hover {background-color: #2b2b2b;}

.manage_user th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3298dc;
  color: white;
}

.background-transparent {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.is-right {
  text-align: right;
}

.on-hover:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  cursor: pointer;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 10;
}
.popup_inner {
  border-radius: 20px;
  position: absolute;
  height: auto;
  left: 12%;
  right: 12%;
  top: 12%;
  bottom: 12%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: auto;
  background-color: rgba(19, 11, 17, 1);
}

.color-cat .test{
  color: #f5695f;
}
.color-cat .script{
  color: #d9a300;
}
.color-cat .map{
  color: #3625f5;
}
.color-cat .dev{
  color: #ff1c1c;
}

.back-color-cat .test{
  background-color: #f5695f!important;
  padding: 2px;
  border: 1px solid white;
  border-radius: 5px;
}
.back-color-cat .script{
  background-color: #d9a300!important;
  padding: 2px;
  border: 1px solid white;
  border-radius: 5px;
}
.back-color-cat .map{
  background-color: #3625f5!important;
  padding: 2px;
  border: 1px solid white;
  border-radius: 5px;
}
.back-color-cat .dev{
  background-color: #ff1c1c!important;
  padding: 2px;
  border: 1px solid white;
  border-radius: 5px;
}
.back-color-cat .other{
  background-color: rgba(255, 255, 255, 0.8)!important;
  padding: 2px;
  border: 1px solid white;
  border-radius: 5px;
}

.cat {
  position: absolute;
}

.created_by {
  position: absolute;
}

.background-totally-transparent {
  background-color: rgba(0, 0, 0, 0)!important;
  border: 1px solid white;
}

.sub-com-username {
  color: white;
  position: absolute;
  margin-top: -2.1rem;
  background-color: #2B2429;
}

.sub-com-button-edit {
  float: right;
  margin-top: -3.2rem;
}

.username{
  margin-right: 1rem;
}

.title-color {
  color: #363636!important;
}

.chat {
  width: 31%;
  position: fixed;
  top: 20%;
  bottom: 20%;
}

.chat-text{
  height: 65%;
  border: 1px solid black;
  border-radius: 10px;
  overflow-y: scroll;
}

.chat-message {
  margin-right: 1em;
  margin-left: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
.chat-message p, .chat-message label{
  color: white;
}
.chat-date{
  margin-left: 5px;
}
.chat-header{
  text-align: left;
}

.chat-send {
  margin-top: 1rem;
  height: 15%;
}
